/*header*/

.top .container-fluid{ 
	margin-top:1em;
	height: 90px;
	background-image: url('assets/backgrounds/h_img.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center, center;
    padding-top: 10em;
    padding-bottom: 54em;
    color: #ffffff;
}

.top h2{
	font-size: 50px;
	padding-top: 20px;
	padding-bottom:25px;
}

.top p{
	padding:20px;
}
.iconn{
	position: relative;
	padding:50px;
}

/*end header*/



/*about*/
.about .container-fluid{ 
	/*height: 10px;*/
	background-color: #EFF0E0;
    padding-top: 9em;
    padding-bottom: 10em;
    padding-right: 25em;
    padding-left: 25em;
    color: #3C3C3C;
}

.about p{
	padding-top:20px;
}
.approach p{
	padding-top: 1em;
	padding-right: 10em;
	padding-left: 10em;
}
/*end about*/


/*services*/
.services .container-fluid{ 
	background-image: url('assets/backgrounds/s_image.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center, center;
    padding-top: 4em;
    padding-bottom: 5em;
    color: #ffffff;
}
.services h2{
	padding-bottom: 1em;
}

.services p{
	line-height: 30px;
	padding-right: 30em;
	padding-left: 30em;
}
/*end services*/


/*activities*/
.activities{
	background-color: #EFF0E0;
	padding-right: 6em;
	padding-left: 6em;
}

.activities h4{
	font-weight: bold;
	text-align: center;
	padding: 2em;
}

.activities h2{
	padding-top: 2em;
	padding-bottom: 3em;
	text-align: center;
}

.activities p{
    
	text-align: center;
}
.design{
	padding-right: 1.5em;

}
.development{
	padding-right: 1.5em;

}


.activities img{
  display: block;
  margin-left: auto;
  margin-right: auto;

}
/*end activities*/
/*contact*/
.contact .container-fluid{
	background-image: url('assets/backgrounds/c_image.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center, center;
    padding-top: 4em;
    padding-bottom: 5em;
    padding-right: 17em;
    padding-left: 24em;
    color: #ffffff;

}
input{
	background-color: transparent;
	outline:none;
	width: 24em;
	padding: 10px;


}
.name{
	border:1.7px solid white;
	float: left;
	background-color: transparent;
	color: white;

}
.email{
	border: 1.7px solid white;
	float: right;
	color: white;

}
.textarea{
	padding-top: 5em;
	color: white;

}
.textarea textarea{
	border: 2px solid white;
	background-color: transparent;

}
::-webkit-input-placeholder {
  color: white;
  padding: 0.5em;
}

/*end contact*/

/*footer*/
.footer{
	padding: 3em;
}
.footer img{
	padding-bottom: 2em;
	padding-right: 1.5em;
}
.footer p{
	font-size: 0.7em;
	font-weight: bold;
}
/*end footer*/